{% extends "base_generic.html" %}

{% block content %}
	<div class="jumbotron" id="back">
        <form class="form-horizontal">
            <fieldset>
                <legend>Contact</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>                  
            
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea" placeholder="Write something!!"></textarea>
                        <span class="help-block">Write your mesage here..</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block more%}
    <li class="dropdown active">
{% endblock %}