{% extends "base_generic.html" %}

{% block content %}
	<div class="jumbotron" id="back">
        <div class="text-center">
            <h2>Privacy Policy</h2>
        </div><br />
        <h4>Please read our Privacy Policy carefully, So that you can understand how we collect and use personal information provided by you on this software.By submitting your personal data to us you will be treating as having gien two consent for disclouser reffered to in this policy.<br /></h4>
        <h3>Data  Security---------------------</h3><br/>
        <h4>
        We have implemented technology and policies with the objective of protecting your data from unauthorized access and improper use and keep updating such measures as and when new technology becomes available.
        </h4>
        <h3>Change in Privacy Policy-------</h3><br/>
        <h4>From time to time we may take changes to this privacy policy.If we make any substential change to this privacy policy, we will post these changes on this page.please check our privacy policy on a regular basis.</h4>
    </div>
{% endblock %}

{% block more%}
    <li class="dropdown active">
{% endblock %}
