{% extends "base_generic.html" %}

{% block content %}
	<div class="jumbotron" id="back">
        <div class="text-center">
            <h2>Terms And Conditions</h2>
        </div><br />
    	<h4>This software is designed ,developedand maintained by Airport authority of India(AAI)
Though all efforts have been made to ensure the accuracy and currency of the content on this software,the same should not beconstructed as a statementof law or used for lrgal purposes.

In case of any ambiguity or doubts,users are used to verify/checkwith AAI and/or other source,and to obtain appopriate professional advice.Under no circumstance will AAI be liable for any expence,for any direct or indirect damage including consequential loss and damage whatsever arising from use,or loss of use of data in connectionwith the use of this software.

These terms and conditions shall be governed by and interpretedin accordance with the Indaians laws.Any disputearising under these terms and conditions shall be subject to thejurisdictionof the Indian Courts in New delhi.

AAI ios providing these links and pointers solely for your information and convenience.When you select a link to an ouitside website ,you arfe leaving the AAI software and are subject to privacy and security policies of the owners/sponsors of the outside website.

AAI does not guarntee the availablity of such linked pages at all times.AAI cannot authorize the use of copyrighted material contained in liked websites.Users are advice to request such authorization fron the owner of the linkled website.

        AAI does not gurantee that linked website comply with Government of India Web Guidelines.</h4>
    </div>
{% endblock %}

{% block more%}
    <li class="dropdown active">
{% endblock %}